<!-- 左边菜单栏 -->
<aside class="main-sidebar">
	<section class="sidebar" style="height:auto">
		<ul class="sidebar-menu">
			<li class="header">MAIN NAVIGATION</li>
			<li class="treeview active">
				<a href="#">
					<!-- 左侧图标 -->
		            <i class="fa fa-dashboard"></i> <span>新闻中心</span>
		            <!-- 右侧下拉图标 -->
		            <span class="pull-right-container">
		            	<i class="fa fa-angle-left pull-right"></i>
		            </span>
		        </a>
		        <ul class="treeview-menu">
		          	<li class="active">
			          	<a href="index.html">
				          	<i class="fa fa-circle-o"></i>
				          	新闻列表
			          	</a>
		          	</li>
		        	<li>
			        	<a href="index.html">
				        	<i class="fa fa-circle-o"></i>
				        	新闻发布
			        	</a>
		        	</li>
			    </ul>
			</li>
		</ul>
	</section>
</aside>