{extend name="base/common" /}

{block name="content"}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <!-- 加载中 -->
            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="box-header with-border">
                <h3 class="box-title" style="height: 30px">Select2</h3>
                <div class="box-tools pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" onclick="toAjax(1);">
                            <i class="fa fa-cloud-upload"></i> 发布
                        </button>
                        <button type="button" class="btn btn-warning" onclick="toAjax(0);">
                            <i class="fa fa-bitbucket"></i> 草稿
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-12 form-group title">
                                <label>标题:</label>
                                <input id="title" class="form-control input-lg" type="text" placeholder="Title">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 form-group author">
                                <label>作者:</label>
                                <select class="form-control sauthor">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group datebox">
                                    <label>Date:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="datepicker" data-am-datepicker="{format: 'yy-mm-dd'}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group" id="news_ab">
                                    <label>摘要：</label>
                                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div id="_pic"  data-toggle="modal" data-target="#avatar-modal" style="border:1px dashed #d9d9d9;border-radius:5px;margin: 50px 50px;height: 205px;width: 305px">
                            <img src="" style="padding: 3px;">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <textarea id="tinymceArea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 上传图片的modal -->
<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--<form class="avatar-form" action="upload-logo.php" enctype="multipart/form-data" method="post">-->
            <form class="avatar-form">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title" id="avatar-modal-label">上传图片</h4>
                </div>
                <div class="modal-body">
                    <div class="avatar-body">
                        <div class="avatar-upload">
                            <input class="avatar-src" name="avatar_src" type="hidden">
                            <input class="avatar-data" name="avatar_data" type="hidden">
                            <label for="avatarInput" style="line-height: 35px;">图片上传</label>
                            <button class="btn btn-danger"  type="button" style="height: 35px;" onclick="$('input[id=avatarInput]').click();">请选择图片</button>
                            <span id="avatar-name"></span>
                            <input class="avatar-input hide" id="avatarInput" name="avatar_file" type="file"></div>
                        <div class="
                row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="avatar-preview preview-lg" style="height: 200px;width: 300px;" id="imageHead"></div>
                            </div>
                            <div class="col-md-9">
                                <div class="avatar-wrapper"></div>
                            </div>

                        </div>
                        <div class="row avatar-btns">
                            <div class="col-md-4">
                                <div class="btn-group">
                                    <button class="btn btn-danger fa fa-undo" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees"> 向左旋转</button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn  btn-danger fa fa-repeat" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees"> 向右旋转</button>
                                </div>
                            </div>
                            <div class="col-md-5" style="text-align: right;">
                                <button class="btn btn-danger fa fa-arrows" data-method="setDragMode" data-option="move" type="button" title="移动">
                          <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setDragMode&quot;, &quot;move&quot;)">
                          </span>
                                </button>
                                <button type="button" class="btn btn-danger fa fa-search-plus" data-method="zoom" data-option="0.1" title="放大图片">
                          <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;zoom&quot;, 0.1)">
                            <!--<span class="fa fa-search-plus"></span>-->
                          </span>
                                </button>
                                <button type="button" class="btn btn-danger fa fa-search-minus" data-method="zoom" data-option="-0.1" title="缩小图片">
                          <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;zoom&quot;, -0.1)">
                            <!--<span class="fa fa-search-minus"></span>-->
                          </span>
                                </button>
                                <button type="button" class="btn btn-danger fa fa-refresh" data-method="reset" title="重置图片">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;reset&quot;)" aria-describedby="tooltip866214">
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-danger btn-block avatar-save fa fa-save" type="button" data-dismiss="modal"> 保存修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 提示modal -->
<div class="modal" id="modal-default" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>发布成功</p>
            </div>
            <div class="modal-footer">
                <a href="newsList" class="btn btn-dropbox">确定</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- 日历 -->
<script src="/static/plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- 编辑器 -->
<script src="/static/tinymce1.3/tinymce.min.js"></script>
<script src="/assets/js/html2canvas.min.js" type="text/javascript" charset="utf-8"></script>

<script>
    var newsId;
    var ERROR_TIPS = "<label class='control-label pull-right' for='inputError'> \
                    <i class='fa fa-times-circle-o'></i> Input with error \
                </label>";
    var SUCCESS_TIPS = "<label class='control-label pull-right' for='inputSuccess'> \
                        <i class='fa fa-check'></i> Input with success \
                    </label>";

    // 加载数据 如果有传来 id
    $(document).ready(function () {
        newsId = "{$newsId}";
        if (newsId != ""){
            $.get("/admin/News/editNews/" + newsId, function (data, status) {
                if (status == 'success') {
                    $('.box-tools > div.btn-group').empty();
                    $('.box-tools > div.btn-group').append("<button type='button' class='btn btn-warning' onclick='toAjax(" + data.state + ");'><i class='fa fa-save'></i>保存</button>");
                    $('#title').val(data.title);
                    $('#datepicker').val(data.date);
                    $('#_pic img').attr('src',"/"+data.b_img );
                    $('#news_ab textarea').val(data.abstract);
                    setTimeout(function () {
                        tinymce.get('tinymceArea').setContent(data.content);
                        $('.overlay').hide();
                    },200);
                }
            });
        }else{
            $('.overlay').hide();
        }
    });

    $(".avatar-save").on("click", function() {
        var img_lg = document.getElementById('imageHead');
        // 截图小的显示框内的内容
        html2canvas(img_lg, {
            allowTaint: true,
            taintTest: false,
            onrendered: function(canvas) {
                canvas.id = "mycanvas";
                //生成base64图片数据
                var dataUrl = canvas.toDataURL("image/jpeg");
                var newImg = document.createElement("img");
                newImg.src = dataUrl;
                $('#_pic img').attr('src',dataUrl );
            }
        });
    });

    $('#datepicker').datepicker({
        minDate: new Date(),
        autoclose:true, // 选完后自动关闭
        format: 'yyyy-mm-dd'
    });

    /* tinymce快捷工具 */
    var plugins = 'advlist,autolink,code,paste,textcolor, colorpicker,fullscreen,link,lists,media,wordcount,imagetools,uploadimage';

    tinymce.init({
        selector: '#tinymceArea',
        language: 'zh_CN',
        upload_image_url: '/admin/News/uploadImg',
        object_resizing: false, // 关闭调整图像，表格，media对象的大小
        height: 400,
        toolbar1: "undo redo | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | fontsizeselect ",
        toolbar2: "forecolor backcolor | bullist numlist | outdent indent | removeformat | link unlink uploadimage  | code preview fullscreen ",
        menubar:'',// 菜单栏
        plugins: this.plugins
    });

    function toAjax(f) {
        var data = validate();
        var url;
        if ( newsId　!= undefined && newsId != ""){
            data.id = newsId;
            url = "/admin/News/modifyNews";
        }else{
            url = "/admin/News/addNews";
        }
        data.state = f;
        //验证失败
        if (!data) {
            alert('请填写完整信息');
        }else {
            $.ajax({
                url: url,
                data: data,
                type: "POST",
                dataType: 'json',
                success: function(re) {
                    if (re.result == 1){
                        $('#modal-default').modal('show');
                    }else{
                        alert('有错误');
                    }
                }
            });
        }
    }

    function validate(){
        var ispassed = true;
        // 标题
        var title = $('#title').val();
        if (!title) {
            $('.title').addClass("has-error").siblings().removeClass("has-error");
            $('.title').prepend(ERROR_TIPS);
            ispassed = false;
        }else{
            $('.title').prepend(SUCCESS_TIPS);
            $('.title').addClass('has-success').siblings().removeClass("has-success");
        }
        // 作者
        var author = $('.sauthor').val();
        if (!author) {
            $('.author').addClass("has-error").siblings().removeClass("has-error");
            $('.author').prepend(ERROR_TIPS);
            ispassed = false;
        }else{
            $('.author').prepend(SUCCESS_TIPS);
            $('.author').addClass('has-success').siblings().removeClass("has-success");
        }
        // 发布时间
        var publish_time = $('#datepicker').val();
        if (!publish_time) {
            $('.datebox').addClass("has-error").siblings().removeClass("has-error");
            $('.datebox').prepend(ERROR_TIPS);
            ispassed = false;
        }else{
            $('.datebox').prepend(SUCCESS_TIPS);
            $('.datebox').addClass('has-success').siblings().removeClass("has-success");
        }
        // 摘要
        var abstract = $('#news_ab textarea').val();
        if (!abstract) {
            $('#news_ab').addClass("has-error").siblings().removeClass("has-error");
            $('#news_ab').prepend(ERROR_TIPS);
            ispassed = false;
        }else{
            $('#news_ab').prepend(SUCCESS_TIPS);
            $('#news_ab').addClass('has-success').siblings().removeClass("has-success");
        }
        // 图片src data
        var b_img = $('#_pic img').attr("src");
        // 获取tinymce文本内容   设置内容setContent
        var content = tinymce.get('tinymceArea').getContent({ format: 'raw' });

        if(ispassed){
            return {title,author,publish_time,abstract,b_img,content}
        }
        return '';
    }
</script>
{/block}
