{extend name="base/common" /}

{block name="content"}
<!-- 表格 -->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">新闻列表</h3>
                <!-- 搜索框 -->
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default" data-btn-type="search"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover text-center">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <th style="width: 100px">作者</th>
                        <th style="width: 100px">发布时间</th>
                        <th style="width: 100px">状态</th>
                        <th style="width: 60px">浏览量</th>
                        <th style="width: 150px">标题</th>
                        <th>摘要</th>
                        <th style="width: 210px">操作</th>
                        <th style="width: 60px">删除</th>
                    </tr>
                    {if condition="count($list) elt 0"}
                        <tr style="height: 70px;padding: 10px;">
                            <td colspan="8">
                                <strong>暂无数据信息</strong>
                            </td>
                        </tr>
                    {else /}
                    {volist name='list' id='news'}
                    <tr style="height: 70px">
                        <td>{$news.id}</td>
                        <td>{$news.author}</td>
                        <td>{$news.publish_time}</td>
                        <td>
                            {if condition="$news.state eq 1"}
                            <span class="label label-success">发布</span>
                            {else /}
                            <span class="label label-warning">草稿</span>
                            {/if}
                        </td>
                        <td>{$news.views}</td>
                        <td>{$news.title}</td>
                        <td style="text-align: left;">{$news.abstract}</td>
                        <td>
                            <a class="btn btn-app nmodify" href="newsForm/{$news.id}">
                                <i class="fa fa-edit"></i> 修改
                            </a>
                            {if condition="$news.state eq 1"}
                            <a class="btn btn-app" data-toggle="modal" data-target="#mymodal" data-nid="{$news.id}" data-whatever="0">
                                <i class="fa fa-sticky-note-o"></i> 草稿
                            </a>
                            {else /}
                            <a class="btn btn-app" data-toggle="modal" data-target="#mymodal" data-nid="{$news.id}" data-whatever="1">
                                <i class="fa fa-check-circle"></i> 发布
                            </a>
                            {/if}
                        </td>
                        <td>
                            <a class="btn btn-app" data-toggle="modal" data-target="#mymodal" data-nid="{$news.id}" data-whatever="3">
                                <i class="fa fa-bitbucket"></i> 删除
                            </a>
                        </td>
                    </tr>
                    {/volist}
                    {/if}
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <div class="col-sm-5">
                    <div class="dataTables_info" id="user_table_info" role="status" aria-live="polite">
                        共 {$count} 条记录
                    </div>
                </div>
                {$list->render()}
            </div>
        </div>
    </div>
</div>

<!-- alert弹出窗口 -->
<div class="modal fade" id="mymodal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p class="text-center"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    var modal = $("#mymodal");

    modal.on("show.bs.modal", function(e) {
        var draft = "确定要取消发布，转为草稿吗？";
        var publish = "确定要发布新闻吗？";
        var del = "确定要删除该条信息吗？";

        var button = $(e.relatedTarget); // Button that triggered the modal
        var recipient = button.data('whatever'); // 0 是 已经发布  1 是 草稿(反)
        var newsId = button.data('nid');

        var modal = $(this);

        if (recipient != "3"){
            if(recipient == "0"){
                modal.find('.modal-body p').text(draft);
            }if(recipient == "1"){
                modal.find('.modal-body p').text(publish);
            }
            modal.find('.modal-footer .btn-primary').attr("onclick","changeState("+ newsId +","+ recipient +")");
        }else {
            modal.find('.modal-body p').text(del);
            modal.find('.modal-footer .btn-primary').attr("onclick","delNews("+ newsId +")");
        }
    })
    function changeState(nid, state){
        $.ajax({
            url: "/admin/News/changeState",
            data: {nid:nid,state:state},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if(data.result != 0){
                    window.location.href = window.location.href;
                    $('#modal-default').modal('close');
                }
            }
        });
    }
    function delNews(nid) {
        $.ajax({
            url: "/admin/News/delNews",
            data: {nid:nid},
            type: "POST",
            dataType: 'json',
            success: function(data) {
                if(data.result != 0){
                    window.location.href = window.location.href;
                    $('#modal-default').modal('close');
                }
            }
        });
    }
</script>
{/block}
