{extend name="base/common" /}

{block name="content"}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title" style="height: 50px">{$uri}</h3>
                <div class="box-tools pull-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary">
                        <i class="fa fa-get-pocket"></i> 发布 
                      </button>
                      <button type="button" class="btn btn-warning">
                        <i class="fa fa-bitbucket"></i> 草稿
                      </button>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-12 form-group has-error">
                                <label class="control-label pull-right" for="inputError"><i class="fa fa-times-circle-o"></i> Input with
                                error</label>
                                <label class="control-label" for="inputSuccess"><label>标题:</label></label>
                                <input class="form-control input-lg" type="text" placeholder="Title">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label>作者:</label>
                                <select class="form-control">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Date:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="datepicker">
                                    </div>
                            <!-- /.input group -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group has-success">
                                    <label>摘要：</label>
                                    <label class="control-label pull-right" for="inputSuccess">
                                        <i class="fa fa-check"></i> Input with success
                                    </label>
                                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2" style="margin-left: 30px;">
                        <div style="background-color: black;height: 200px;width: 300px"></div>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-xs-12">
                        <textarea id="tinymceArea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 日历 -->
<script src="/static/plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- 编辑器 -->
<script src="/static/tinymce1.3/tinymce.min.js"></script>

<script>
    $('#datepicker').datepicker({
        autoclose:true
    });

    /* tinymce快捷工具 */
    var toolbar = 'removeformat undo redo |  bullist numlist | outdent indent | forecolor | fullscreen code | bold italic blockquote | h2 p  media link | alignleft aligncenter alignright';
    var plugins = 'advlist,autolink,code,paste,textcolor, colorpicker,fullscreen,link,lists,media,wordcount,imagetools,watermark';

    tinymce.init({
      selector: '#tinymceArea',
      language: 'zh_CN',
      object_resizing: false, // 关闭调整图像，表格，media对象的大小
      height: 400,
      toolbar:this.toolbar,
      menubar:'',// 菜单栏
      plugins: this.plugins,
      //This option allows you to to split the current container block element if the enter key is pressed inside an empty inner block element.
      end_container_on_empty_block: true,
      powerpaste_word_import: 'clean',
      code_dialog_height: 450,
      code_dialog_width: 1000,
      advlist_bullet_styles: 'square',
      advlist_number_styles: 'default',
      block_formats: '普通标签=p;小标题=h2;',
      imagetools_cors_hosts: ['speechx_tp.com', 'wallstreetcn.com'],
      imagetools_toolbar: 'watermark',
      // 设置 a 标签 _blank 原页面打开
      default_link_target: '_blank',
      link_title: false,
      textcolor_map: [
            '1482f0', '1482f0',
            '4595e6', '4595e6'],
    })
</script>
{/block}
