{extend name="base/common" /}

{block name="content"}
<!-- 表格 -->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">新闻列表</h3>
                <!-- 搜索框 -->
                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default" data-btn-type="search"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover text-center">
                    <tbody class="text-center">
                    <tr>
                        <th>ID</th>
                        <th style="width: 100px">作者</th>
                        <th style="width: 100px">发布时间</th>
                        <th style="width: 100px">状态</th>
                        <th style="width: 100px">浏览量</th>
                        <th>摘要</th>
                        <th style="width: 210px">操作</th>
                    </tr>
                    {volist name='list' id='news'}
                    <tr>
                        <td>{$news.id}</td>
                        <td>{$news.author}</td>
                        <td>{$news.publish_time}</td>
                        <td>
                            {if condition="$news.state eq 1"}
                            <span class="label label-success">发布</span>
                            {else /}
                            <span class="label label-warning">草稿</span>
                            {/if}
                        </td>
                        <td>{$news.views}</td>
                        <td style="text-align: left;">{$news.abstract}</td>
                        <td>
                            <a class="btn btn-app">
                                <i class="fa fa-edit"></i> 修改
                            </a>
                            {if condition="$news.state eq 1"}
                            <a class="btn btn-app" data-toggle="modal" data-target="#mymodal" data-nid="1" data-whatever="0">
                                <i class="fa fa-sticky-note-o"></i> 草稿
                            </a>
                            {else /}
                            <a class="btn btn-app" data-toggle="modal" data-target="#mymodal" data-nid="2" data-whatever="1">
                                <i class="fa fa-check-circle"></i> 发布
                            </a>
                            {/if}
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <div class="col-sm-5">
                    <div class="dataTables_info" id="user_table_info" role="status" aria-live="polite">
                    	共 {$count} 条记录
                    </div>
                </div>
                {$list->render()}
            </div>
        </div>
    </div>
</div>



<!-- alert弹出窗口 -->
<div class="modal fade" id="mymodal" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p class="text-center"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
	var modal = $("#mymodal");
	modal.on("show.bs.modal", function(e) {    
	    var draft = "确定要取消发布，转为草稿吗？";
		var publish = "确定要发布新闻吗？";
	    
	    var button = $(e.relatedTarget); // Button that triggered the modal
		var recipient = button.data('whatever'); // 0 是 已经发布  1 是 草稿(反)
		var newsId = button.data('nid');
		
		var modal = $(this);
		if(recipient == "0"){
			modal.find('.modal-body p').text(draft);
		}else if(recipient == "1"){
			modal.find('.modal-body p').text(publish);
		}
		modal.find('.modal-footer .btn-primary').attr("onclick","changeState("+ newsId +","+ recipient +")");		
	 })
	function changeState(nid, type){
		$.ajax({
			url: "admin/News/changeState",
            data: data,
            type: "POST",
            dataType: 'json',
            success: function(re) {
                $('#modal-default').modal('show');
                console.log(re.status);
            }
		});
	}
</script>
{/block}
